  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Special Thanks</h5>
          <ul>
            <li><a class="white-text" href="https://ghost.org/">Ghost.org (Blog Engine)</a></li>
            <li><a class="white-text" href="https://github.com/jroakes/ghost-material">ghost-material (Blog Theme)</a></li>
            <li><a class="white-text" href="https://www.conoha.jp/">ConoHa by GMO (VPS)</a></li>
            <li><a class="white-text" href="https://www.archlinux.org/">ArchLinux (OS)</a></li>
            <li><a class="white-text" href="http://nginx.org/">nginx (Web Server)</a></li>
          </ul>

        </div>
        <div class="col l3 s12">
          <!--
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
          -->
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/aoisensi">Twitter</a></li>
            <li><a class="white-text" href="http://steamcommunity.com/id/aoisensi">Steam</a></li>
            <li><a class="white-text" href="https://plus.google.com/u/0/+aoisensi">Google+</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      	<a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      </div>
    </div>
  </footer>
